.title{
  padding: 12px !important;
  color: #EBEBEB;
}

td,th {
  text-align: center;
}

.primary{
  background:#673ab7 !important;
  &.mat-mdc-standard-chip {
    --mdc-chip-label-text-color:#FFF !important;
  }
}

.accent{
  background: #ff4081 !important;
  &.mat-mdc-standard-chip {
    --mdc-chip-label-text-color:#FFF !important;
  }
}

.spinner-row{
  width:100% !important;
  height: 20px !important;
}

.mat-mdc-header-row{
  background: #003356 !important;
  color:#EBEBEB !important;;
}

.mat-mdc-table{
  border-radius: 3px !important;
  overflow:hidden !important;
  background-color: #00111c
}

.mat-mdc-row{
  color:#EBEBEB;
}

tr:nth-child(even) {
  background-color: rgba(0, 41, 69, 0.3)
}


.add-button{
  background: #00406C;
  color: white;
}

table{
  border: 2px solid #003356;
  border-collapse: unset !important;
}





