.example-spacer {
  flex: 1 1 auto;
}

.logo{
  max-width: 210px;
  cursor: pointer;
}


.header-icon{
  font-size: medium;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #80E7FF;
  text-align: center;
  cursor: pointer;
}

.mat-toolbar{
  height:7%
}

.nav-item{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 0.7rem;
  border-radius: 0.3rem;
  &:hover {
    background:#00406C !important;
    color: #fff !important;
}
}

.active-link {
  background: #00406C !important;
  color: #2599FC !important;
}

.notification-icon{
  margin-right: 20px;
}

::ng-deep.mat-mdc-menu-panel {
  max-width: none !important;
}

.warning{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #FFFF5C;
  margin-right: 7px;
}

.danger{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #F41515;
  margin-right: 7px;
}

.date{
  font-size: 14px;
  font-weight: 500;
}

