<div class="p-5 h-100 pageBg">
  <h1 class="title">Employee Management</h1>

  <div class="d-flex justify-content-end mt-3">
    <button mat-fab matTooltip="Add Employee" class="add-button" (click)="openEmployeeDialog()" aria-label="Example mini fab with a heart icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  @if (!loading) {
    @if(employeeList.length > 0){
    <table mat-table [dataSource]="employeeList" [trackBy]="trackByFn" class="mat-elevation-z8 mt-4">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">

            <mat-chip [ngClass]="element.status == 'ACTIVE' ? 'active' : 'offline'">{{element.status}}</mat-chip>

        </td>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef> Birth Date </th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate | date: 'MM/dd/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="lastPhysicalMetric">
        <th mat-header-cell *matHeaderCellDef> Last Physical Metric </th>
        <td mat-cell *matCellDef="let element">
          @if(element.metrics.length > 0){
            {{findLastMetric(element.metrics).physicalScore}}%
          }@else{
            -
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="lastMentalMetric">
        <th mat-header-cell *matHeaderCellDef> Last Mental Metric </th>
        <td mat-cell *matCellDef="let element">
          @if(element.metrics.length > 0){
            {{findLastMetric(element.metrics).mentalScore}}%
          }@else{
            -
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <div class="example-button-row">
            <button mat-mini-fab matTooltip="Edit" (click)="openEmployeeDialog(element,i)"color="primary" aria-label="Example mini fab with a heart icon">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Delete" (click)="openDeleteDialog(element.id,i)" color="warn" class="ms-2" aria-label="Example mini fab with a heart icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="spinner">
        <th mat-header-cell *matHeaderCellDef style="width:60px;"></th>
        <td mat-cell *matCellDef="let element;let i = index;">
          <mat-spinner [ngClass]="rowLoading[i].loading ? 'd-block' :'d-none'" class="spinner-row"></mat-spinner>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="mt-2">
      <mat-paginator
              [length]="length"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="handlePageEvent($event)"
              aria-label="Select page">
    </mat-paginator>
    </div>
  }@else {
    <h1 class="text-center">There are no registered Employees yet.</h1>
  }



  }@else {
    <div class="d-flex justify-content-center mt-5">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>

