.title{
  padding: 12px !important;
  color: #EBEBEB;
}

td,th {
  text-align: center;
}

.active{
  background:#D6F5DB !important;
  &.mat-mdc-standard-chip {
    --mdc-chip-label-text-color:#14521F !important;
  }
}

.offline{
  background: #f18c8c !important;
  &.mat-mdc-standard-chip {
    --mdc-chip-label-text-color:#9c3a3a !important;
  }
}

.mat-mdc-standard-chip {
  --mdc-chip-label-text-weight: 500 !important;
}

.spinner-row{
  width:20px!important;
  height: 20px !important;
}

.mat-mdc-header-row{
  background: #003356 !important;
  color:#EBEBEB !important;;
}

.mat-mdc-table{
  border-radius: 3px !important;
  overflow:hidden !important;
  background-color: #00111c
}

.mat-mdc-row{
  color:#EBEBEB;
}

tr:nth-child(even) {
  background-color: rgba(0, 41, 69, 0.3)
}

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: red;
}

.add-button{
  background: #00406C;
  color: white;
}

table{
  border: 2px solid #003356;
  border-collapse: unset !important;
}






