<div class="p-5 h-100 pageBg ">
<div class="d-flex justify-content-between">
  <h1 class="title">Dashboard</h1>
  <h1 class="title">{{avgResponse?.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}</h1>
</div>


<div class="mt-3">
@if(!loading){
  <div class="row" style="height:68vh">
    <div class="col-sm-9">
      <mat-card style="height: 100%;" id="dash">
        <mat-card-content style="height: 100%;">
          <div  style="height: 100%;" >
            <mat-tab-group>

              <mat-tab>
                <ng-template mat-tab-label>
                  <div class="d-flex">
                    <span class="normal"></span>
                    <span>Normal</span>
                  </div>
                  <span>{{employeeListNormal.length}} Employee(s)</span>
                </ng-template>
                <table mat-table [dataSource]="employeeListNormal" class="mat-elevation-z8 mt-4">

                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">

                        <mat-chip [ngClass]="element.status == 'ACTIVE' ? 'active' : 'offline'">{{element.status}}</mat-chip>

                    </td>
                  </ng-container>

                  <ng-container matColumnDef="healthStatus">
                    <th mat-header-cell *matHeaderCellDef>Health Status </th>
                    <td mat-cell *matCellDef="let element">
                      Normal

                    </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="room">
                    <th mat-header-cell *matHeaderCellDef>Room</th>
                    <td mat-cell *matCellDef="let element">
                        Room 3
                    </td>
                  </ng-container> -->
                  <ng-container matColumnDef="metricDate">
                    <th mat-header-cell *matHeaderCellDef>Last Metric Date</th>
                    <td mat-cell *matCellDef="let element">
                       {{findLastMetric(element.metrics).createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element">


                      <button mat-mini-fab matTooltip="View" color="primary" (click)="openDashboardDialog(element,findLastMetric(element.metrics))">
                        <mat-icon class="view-icon">info</mat-icon>
                      </button>

                    </td>
                  </ng-container> -->




                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <div class="d-flex">
                    <span class="warning"></span>
                    <span>Warning</span>
                  </div>
                  <span>{{employeeListWarning.length}} Employee(s)</span>
                </ng-template>
                <table mat-table [dataSource]="employeeListWarning" class="mat-elevation-z8 mt-4">

                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">

                        <mat-chip [ngClass]="element.status == 'ACTIVE' ? 'active' : 'offline'">{{element.status}}</mat-chip>

                    </td>
                  </ng-container>

                  <ng-container matColumnDef="healthStatus">
                    <th mat-header-cell *matHeaderCellDef>Health Status </th>
                    <td mat-cell *matCellDef="let element">
                      Warning
                        <!-- {{findLastMetricAvg(element.metrics)}}% -->

                    </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="room">
                    <th mat-header-cell *matHeaderCellDef>Room</th>
                    <td mat-cell *matCellDef="let element">

                        Room 1

                    </td>
                  </ng-container> -->
                  <ng-container matColumnDef="metricDate">
                    <th mat-header-cell *matHeaderCellDef>Last Metric Date</th>
                    <td mat-cell *matCellDef="let element">
                      {{findLastMetric(element.metrics).createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element">

                      <button mat-mini-fab matTooltip="View" color="primary" (click)="openDashboardDialog(element,findLastMetric(element.metrics))">
                        <mat-icon class="view-icon">info</mat-icon>
                      </button>

                    </td>
                  </ng-container> -->

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <div class="d-flex">
                    <span class="danger"></span>
                    <span>Critical</span>
                  </div>
                  <span>{{employeeListCritical.length}} Employee(s)</span>
                </ng-template>
                <table mat-table [dataSource]="employeeListCritical" class="mat-elevation-z8 mt-4">

                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">

                        <mat-chip [ngClass]="element.status == 'ACTIVE' ? 'active' : 'offline'">{{element.status}}</mat-chip>

                    </td>
                  </ng-container>

                  <ng-container matColumnDef="healthStatus">
                    <th mat-header-cell *matHeaderCellDef>Health Status </th>
                    <td mat-cell *matCellDef="let element">
                      Critical
                      <!-- {{findLastMetricAvg(element.metrics)}}% -->

                    </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="room">
                    <th mat-header-cell *matHeaderCellDef>Room</th>
                    <td mat-cell *matCellDef="let element">
                        Room 3
                    </td>
                  </ng-container> -->
                  <ng-container matColumnDef="metricDate">
                    <th mat-header-cell *matHeaderCellDef>Last Metric Date</th>
                    <td mat-cell *matCellDef="let element">
                      {{findLastMetric(element.metrics).createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element">


                      <button mat-mini-fab matTooltip="View" color="primary" (click)="openDashboardDialog(element,findLastMetric(element.metrics))">
                        <mat-icon class="view-icon">info</mat-icon>
                      </button>

                    </td>
                  </ng-container> -->




                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </mat-tab>


            </mat-tab-group>
           <!-- <ngx-charts-bar-horizontal-2d

            [scheme]="'cool'"
            [results]="dataChart"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [xAxisTickFormatting]='formatPercent'
            [xScaleMax]="100"
            (select)="onSelect($event)"
            style="fill: grey;">
            <ng-template #tooltipTemplate let-model="model">
              <h4 class="mt-2">{{model.name}}</h4>
              <h4>{{model.value}}%</h4>
            </ng-template>
          </ngx-charts-bar-horizontal-2d> -->
          </div>
        </mat-card-content>
      </mat-card>
    </div>
     <div class="col-sm-3">
      <mat-card class="" style="height: 49%;">
        <mat-card-header class="avg-card-header">
          <mat-card-title>Average Physical Score</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 100%;">
          <div style="height: 100%;">
            <ngx-charts-gauge
              [scheme]="colorScheme"
              [results]="avgPhysicalChart"
              [legend]="false"
              [axisTickFormatting]='formatPercent'
              [valueFormatting]='formatPercent'
            ></ngx-charts-gauge>
          </div>
        </mat-card-content>
      </mat-card>
      <div style="height: 2%"></div>
      <mat-card class="" style="height: 49%;">
        <mat-card-header class="avg-card-header">
          <mat-card-title>Average Mental Score</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 100%;">
          <div style="height: 100%;">
            <ngx-charts-gauge

            [scheme]="'cool'"
            [results]="avgMentalChart"
            [legend]="false"
            [axisTickFormatting]='formatPercent'
            [valueFormatting]='formatPercent'
          ></ngx-charts-gauge>
          </div>
        </mat-card-content>
      </mat-card>


    </div>
  </div>

}@else{
  <div class="d-flex justify-content-center mt-5">
    <mat-spinner></mat-spinner>
  </div>
}
</div>
</div>






