<div class="p-5 m-2">
  <mat-card>
    <mat-card-header class="title">
      <mat-card-title >Dashboard</mat-card-title>
    </mat-card-header>
  </mat-card>

<div class="mt-3">
@if(!loading){
  <div class="row" style="height:68vh">
    <div class="col-sm-9">
      <mat-card style="height: 100%;">
        <mat-card-content style="height: 100%;">
          <div #containerRef style="height: 100%;" >
           <ngx-charts-bar-horizontal-2d

            [scheme]="'cool'"
            [results]="dataChart"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [xAxisTickFormatting]='formatPercent'
            [xScaleMax]="100"
            (select)="onSelect($event)"
            style="fill: grey;">
            <ng-template #tooltipTemplate let-model="model">
              <h4 class="mt-2">{{model.name}}</h4>
              <h4>{{model.value}}%</h4>
            </ng-template>
          </ngx-charts-bar-horizontal-2d>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
     <div class="col-sm-3">
      <mat-card class="" style="height: 49%;">
        <mat-card-header class="avg-card-header">
          <mat-card-title>Average Physical Score</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 100%;">
          <div #containerRefAvgPhysical style="height: 100%;">
            <ngx-charts-gauge
              [scheme]="'cool'"
              [results]="avgPhysicalChart"
              [legend]="false"
            ></ngx-charts-gauge>
          </div>
        </mat-card-content>
      </mat-card>
      <div style="height: 2%"></div>
      <mat-card class="" style="height: 49%;">
        <mat-card-header class="avg-card-header">
          <mat-card-title>Average Mental Score</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 100%;">
          <div #containerRefAvgMental style="height: 100%;">
            <ngx-charts-gauge

            [scheme]="'cool'"
            [results]="avgMentalChart"
            [legend]="false"
          ></ngx-charts-gauge>
          </div>
        </mat-card-content>
      </mat-card>


    </div>
  </div>

}@else{
  <div class="d-flex justify-content-center mt-5">
    <mat-spinner></mat-spinner>
  </div>
}
</div>
</div>






