/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
$CFA-asty-typography: mat.define-typography-config($font-family: 'CFAstyStd');
@include mat.typography-hierarchy($CFA-asty-typography);
$app-theme: mat.define-light-theme((
  typography: $CFA-asty-typography
));
@include mat.all-component-themes($app-theme);

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: 'CFAstyStd';
  src: url('assets/fonts/CFAstyStd/CFAstyStd-Book.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CFAstyStd';
  src: url('assets/fonts/CFAstyStd/CFAstyStd-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



html, body { height: 100%; }
body { margin: 0; background: #00111C; font-family: CFAstyStd !important  }

.error-snackbar{
  margin-bottom: 25px !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mdc-snackbar-container-color: #b91c1c !important;
  --mat-snack-bar-button-color: white !important;
}

.success-snackbar{
  margin-bottom: 25px !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mdc-snackbar-container-color: #15803d !important;
  --mat-snack-bar-button-color: white !important;
}

.warn-snackbar{
  margin-bottom: 25px !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mdc-snackbar-container-color: #d2b408 !important;
  --mat-snack-bar-button-color: white !important;
}

.ngx-charts-outer{
  margin: auto !important;
}

.surface-200{
  color: #002945 !important;
}

.back-surface-200{
  background: #002945 !important;
}

.neutral-hit-grey{
  color: #ACAEB0 !important;
}

.back-neutral-hit-grey{
  background: #ACAEB0 !important;
}

//Angula Material Overrides

// .mat-toolbar,
// .mat-mdc-menu-content,
// .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text,
// .mat-mdc-card-title,
// .mat-mdc-row,
// .mat-mdc-paginator,
// .mat-mdc-standard-chip .mdc-evolution-chip__text-label,
// .mat-mdc-tooltip .mdc-tooltip__surface,
// .mat-mdc-header-row,
// .mat-mdc-dialog-container .mdc-dialog__title,
// .mat-mdc-button,
// .mdc-text-field--filled .mdc-floating-label,
// .mat-mdc-form-field-error,
// .mat-mdc-dialog-container .mdc-dialog__content,
// .mat-mdc-option   {
//   font-family: CFAstyStd !important
// }

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke:  #80E7FF !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: white !important;
}

.mat-mdc-paginator-container{
  color: white;
  background: #001d32;
}

.mat-mdc-select{
  color: white !important;
}

.mat-mdc-select-arrow{
  color: white !important;
}

.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
  color: var(--mat-select-focused-arrow-color) !important;
}

.mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
  fill: #00406C !important;
}

.mat-mdc-paginator-icon {
  fill: white !important
}

.pageBg{
  background-color: #001d32;
}

.gauge .gauge-tick text {
  fill: #EBEBEB !important;
}

.gauge .gauge-tick path {
  stroke: #EBEBEB !important;;
}

tspan{
  fill: #EBEBEB !important;
}

.mat-mdc-tab-header{
  background: #003356 !important;
}

.mat-mdc-tab .mdc-tab__text-label {
  color: #fff !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #80e7ff !important;
  font-weight: bold;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #80e7ff !important;
  --mat-tab-header-active-label-text-color: #80e7ff !important;
  --mat-tab-header-active-ripple-color: #80e7ff !important;
  --mat-tab-header-inactive-ripple-color: #80e7ff !important;
  --mat-tab-header-active-focus-label-text-color: #80e7ff !important;
  --mat-tab-header-active-hover-label-text-color: #80e7ff !important;
  --mat-tab-header-active-focus-indicator-color: #80e7ff !important;
  --mat-tab-header-active-hover-indicator-color: #80e7ff !important;
}



.mdc-tab__content{
  width: 100%;
}

.mdc-tab__text-label{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mat-tab-active  {
  background: red !important;
}

.mat-mdc-tab-body-wrapper {
  padding: 1rem !important;
}
